<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Página Inicial
    </h1>
    <br>
    <p-accordion [multiple]="true" class="acordion">
      <p-accordionTab header="Ferramentas Usadas">
        SpringBoot Framework usando o modelo padrão MVC (Model View Controller), Banco de Dados MySQL e com auxilio
        da Plataforma Web Angular CLI para desenvolvimento do Frontend da Aplicação Web.
      </p-accordionTab>
    </p-accordion>
    <section class="content container-fluid">
    </section>
  </section>
</div>