<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Clientes</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/clientes']">Pesquisar Clientes</a></li>
          <li><a [routerLink]="['/clientes/novo']">Cadastrar Clientes</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Cidades</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/cidades']">Pesquisar Cidades</a></li>
          <li><a [routerLink]="['/cidades/nova']">Cadastrar Cidades</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Estados</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/estados']">Pesquisar Estados</a></li>
          <li><a [routerLink]="['/estados/novo']">Cadastrar Estados</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Produtos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/produtos']">Pesquisar Produtos</a></li>
          <li><a [routerLink]="['/produtos/novo']">Cadastrar Produtos</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Categorias</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/categorias']">Pesquisar Categorias</a></li>
          <li><a [routerLink]="['/categorias/novo']">Cadastrar Categorias</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>